@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh; /* Ensures the root element fills the viewport height */
  display: flex;
  flex-direction: column; /* Stack children vertically */

  --primary: #054ada;
  --secondary: #f80;
}

main {
  flex: 1; /* Takes up available space, pushing the footer down */
}

/* Light theme */
.light {
  --bg-color: #ffffff;
  --text-color: #1e293b;
}

.light .text {
  color: var(--text-color);
}

.light .bg {
  background-color: var(--bg-color);
}

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap");

.bold {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700 !important;
}

.extra-bold {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900 !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Red Hat Display", sans-serif !important;
  color: #1e293b;
}

.btn-primary {
  background: #054ADA;
  border: none;
}

.btn-primary:hover {
  background: #1e293b;
  color: #ffffff;
}

.text-dark {
  color: #1e293b !important;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: transparent;
  /* Initially transparent */
  transition: background-color 0.3s ease;
  /* Smooth transition for background-color */
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar-menu {
  z-index: 1000;
  background-color: #00000050;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  animation: slideDown 0.5s ease-out forwards;
}


.navbar.dark {
  backdrop-filter: blur(10px);
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-1750px);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-1750px);
  }

  100% {
    transform: translateX(0);
  }
}

.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 60vh;
}

.slider::before,
.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}

.slider .slide {
  height: 500px;
  width: 100%;
  border: 2px solid #054ADA;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.slider .slide video {
  position: relative;
  object-fit: cover;
  /* Ensure the video fills the container without stretching */
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.slider-logo {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider-logo::before,
.slider-logo::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider-logo::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider-logo::before {
  left: 0;
  top: 0;
}

.slider-logo .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}

.slider-logo .slide-track-reverse {
  animation: scroll-reverse 40s linear infinite;
  display: flex;
  width: 3500px;
}

.slider-logo .slide {
  height: 100px;
  width: 250px;
}

.video-container {
  overflow: hidden;
  width: 50%;
  height: 100%;
}

.video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card {
  border: 1px solid #d7d7d7;
}

.image-container {
  height: 50vh;
  /* Set a fixed height */
  overflow: hidden;
  /* Hide any overflowing content */
}

.image-container img {
  width: 100%;
  /* Ensure the image fills the container horizontally */
  height: 100%;
  /* Ensure the image fills the container vertically */
  object-fit: cover;
  /* Maintain aspect ratio; cover the container */
}

#banner {
  position: relative;
}

.glass {
  background: #ffffff20;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


#casestudies {
  min-height: 90vh;
}


#services .wrap {
  background: #ffffff;
}

#services .wrap:hover {
  border: 1px dashed black;
  cursor: pointer;
}

#services .ico-wrap {
  margin: auto;
}

#services .mbr-iconfont {
  font-size: 4.5rem !important;
  color: #313131;
  margin: 1rem;
  padding-right: 1rem;
}

#services .vcenter {
  margin: auto;
}

#services .mbr-section-title3 {
  text-align: left;
}

#services h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#services .display-5 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
}

#services .mbr-bold {
  font-weight: 700;
}

#services p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 25px;
}

#services .display-6 {
  font-family: "Source Sans Pro", sans-serif;
}

#about .cards {
  position: relative;
}

#about .cards__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 5em;
  height: 100%;
}

#about .cardabout {
  --flow-space: 0.5em;
  --hsl: var(--hue), var(--saturation), var(--lightness);
  flex: 1 1 14rem;
  padding: 1.5em 2em;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  align-items: start;
  gap: 1.25em;
  border: 1px solid #054ADA;
  background: #054ADA15;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  height: 100%;
}

#about .cardabout:nth-child(1) {
  --hue: 211.34;
  --saturation: 95.9%;
  --lightness: 61.76%;
}

#about .cardabout:nth-child(2) {
  --hue: 211.34;
  --saturation: 95.9%;
  --lightness: 61.76%;
}

#about .cardabout:nth-child(3) {
  --hue: 211.34;
  --saturation: 95.9%;
  --lightness: 61.76%;
}

#about .card__price {
  font-size: 1.75em;
  font-weight: 700;
}

#about .flow>*+* {
  margin-top: var(--flow-space, 1.25em);
}

#about .cta {
  display: block;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #054ADA;
  border: #054ADA solid 2px;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}

#about .overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--opacity, 0);
  -webkit-mask: radial-gradient(25rem 25rem at var(--x) var(--y), #000 1%, transparent 50%);
  mask: radial-gradient(25rem 25rem at var(--x) var(--y), #000 1%, transparent 50%);
  transition: 400ms mask ease;
  will-change: mask;
}

#about .overlay .cardabout {
  background-color: hsla(var(--hsl), 0.15);
  border-color: hsla(var(--hsl), 1);
  box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}

#about .overlay .type {
  border-color: hsla(var(--hsl), 1);
  box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}

#about .overlay .cta {
  display: block;
  grid-row: -1;
  width: 100%;
  background-color: hsl(var(--hsl));
  color: white;
  box-shadow: 0 0 0 1px hsl(var(--hsl));
}

#about :not(.overlay)>.cardabout {
  transition: 400ms background ease;
  will-change: background;
}

#about :not(.overlay)>.cardabout:hover {
  background: hsla(var(--hsl), 0.1);
}

#about :not(.overlay)>.type {
  transition: 400ms background ease;
  will-change: background;
}

#about :not(.overlay)>.type:hover {
  background: #1e293b;
  color: #ffffff;
  --lightness: 90%;
}

#about :not(.overlay)>.type:hover .cta {
  display: block;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}


@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes r-float {
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  0% {
    transform: translateY(0);
  }
}

.floating {
  animation: float 3s ease-in-out infinite;
}

.r-floating {
  animation: r-float 3s ease-in-out infinite;
}

.circle-gradient-dark {
  position: absolute;
  /* Make sure it can be positioned absolutely within its container */
  top: 50%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  width: 100%;
  /* Adjust size as needed */
  height: 500px;
  /* Adjust size as needed */
  border-radius: 50%;
  overflow: hidden;
  filter: blur(200px);
  transform: translate(-50%, -50%);
  background: radial-gradient(circle, #3676b3, #1f5089, #123875, #1e293b);
}

.circle-white-dark {
  position: absolute;
  top: 150%;
  left: 50%;
  width: 5%;
  height: 800px;
  border-radius: 20%;
  overflow: hidden;
  filter: blur(75px);
  background: radial-gradient(circle, #ffffff35, #ffffff35);
}

.circle-gradient-dark::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #3676b3, #1f5089, #123875, #1e293b);
  filter: blur(100px);
  z-index: -1;
}

.circle-gradient-light {
  position: absolute;
  /* Make sure it can be positioned absolutely within its container */
  top: 50%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  width: 100%;
  /* Adjust size as needed */
  height: 500px;
  /* Adjust size as needed */
  border-radius: 50%;
  overflow: hidden;
  filter: blur(200px);
  transform: translate(-50%, -50%);
  background: radial-gradient(circle, #054ADA, #47a6ff);
  z-index: -1 !important;
}

.circle-gradient-light::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* Cover the entire area */
  height: 100%;
  /* Cover the entire area */
  background: radial-gradient(circle, #054ADA, #47a6ff);
  filter: blur(100px);
  z-index: -1;
  /* Ensure the blur layer is behind the main gradient */
}

.bg-tiles {
  background-image: linear-gradient(to right, #adadad1f 1px, transparent 1px),
    linear-gradient(to bottom, #8e8e8e1f 1px, transparent 1px);
  background-size: 100px 100px;
  z-index: -100;
}

.bg-glass {
  background-color: rgba(171, 171, 171, 0.25);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.bg-colors {
  background: url('') no-repeat center center;
  background-size: cover;
  padding: 100px;
}

/* AIzaSyAcYNSxIsZxMyKYDc6IiDJR2D6SRyRG_fM */

/* TimerUi.css */

#timerUi *::-moz-selection {
  background: transparent;
  color: inherit;
}

#timerUi *::selection {
  background: transparent;
  color: inherit;
}

#timerUi *::-moz-selection {
  background: transparent;
  color: inherit;
}

#timerUi * {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#timerUi {
  display: block;
  width: 15em;
  height: 15em;
  transition: background-color 3s linear 0s;
}

#wrapper {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-sizing: border-box;    
}

#timerUi #timeUi, #timerUi #scale, #timerUi #hour, #timerUi #minute, #timerUi #quater, #timerUi #half, #timerUi #third {
  background-color: transparent;
  display: block;
  font-size: 0.6em;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  overflow: visible;
  border-radius: 50%;
  transform: translate(-50%,-50%) rotate(90deg);
}

#timerUi #timeUi .container {
  background-color: rgba(0,0,0,0);
  color: #fff;
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  color: transparent;
  overflow: visible;
  height: 100%;
  width: 100%;
  text-align: left;
}

#timerUi #timeUi .element {
  display: inline-block;
  position: relative;
  width: 2%;
  height: 2%;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 0;
  top: 50%;
  transform: translate(-50%,-50%);
  transition: background-color 30s linear 0s, margin-left 0.5s ease 0s, width 0.5s ease 0s, height 0.5s ease 0s;
}

#timerUi #timeUi .element.tick {
  background-color: #054ADA;
  margin-left: 6.25%;
  width: 2em;
  height: 2em;
  transition: background-color 0.25s ease 0s, margin-left 0.5s ease 0s, width 0.5s ease 0s, height 0.5s ease 0s;
}

#timerUi #minute {
  background-color: #054ADA;
  transition: width 0.5s ease 0s, height 0.5s ease 0s;
  width: 0;
  height: 0;
}

#timerUi #scale {
  position: relative;
}

#timerUi #quater, #timerUi #half, #timerUi #third {
  background-color: rgba(255,255,255,0.15);
  border: 1px solid rgba(255,255,255,0);
}

#timerUi #quater {
  width: 25%;
  height: 25%;
}

#timerUi #half {
  width: 50%;
  height: 50%;
}

#timerUi #third {
  width: 75%;
  height: 75%;
}

#timerUi #hour {
  text-align: center;
  background-color: transparent;
}

#timerUi #hour > span {
  color: #fff;
  background-color: transparent;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  display: block;
  height: 50%;
  width: 100%;
  transform: translate(21%,-50%) rotate(-90deg);
  position: relative;
  left: 50%;
  top: 50%;
  font-size: 4em;
  margin-left: -3.9em;
  line-height: 1em;
  letter-spacing: -0.05em;
  text-indent: -0.05em;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.banner_light {
  transform: translate(80%, -150%) rotate(25deg);
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #ffffff; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #F80; /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #925700
}


.react-calendar__tile {
  height: 6vh; 
}

.react-calendar {
  width: 100% !important;
}


.video {
  object-fit: cover;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, white, transparent);
  pointer-events: none; /* Ensures the gradient doesn't block interactions */
}

@keyframes handRotate {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
}
}

.animate-hand-rotate {
  animation: handRotate 0.5s ease-out forwards;
}

.glitch--4 [data-char] {
  --delay: 0;
  --speed: 5;
  --skew: 25;
  -webkit-animation: skew 1s infinite steps(1) alternate, shrink calc(var(--speed) * 1s) calc(var(--delay) * 1s) infinite steps(1);
          animation: skew 1s infinite steps(1) alternate, shrink calc(var(--speed) * 1s) calc(var(--delay) * 1s) infinite steps(1);
}
.glitch--4 [data-char='B'],
.glitch--4 [data-char='Y'] {
  --speed: 4;
  --delay: 2;
  
}
.glitch--4 [data-char='L'],
.glitch--4 [data-char='C'] {
  --speed: 6;
  --delay: 1;
  transform-origin: bottom;
}
.glitch--4 [data-char='F'],
.glitch--4 [data-char='D'] {
  --skew: -10;
  --speed: 10;
  --delay: 3;
}

@-webkit-keyframes glitch--0 {
  0%, 50%, 58% {
    transform: translate(0, 0) scale(1);
  }
  52% {
    transform: translate(-25%, 10%) scale(0.85);
  }
  56% {
    transform: translate(5%, -20%) scale(1.25);
  }
}
@keyframes glitch--0 {
  0%, 50%, 58% {
    transform: translate(0, 0) scale(1);
  }
  52% {
    transform: translate(-25%, 10%) scale(0.85);
  }
  56% {
    transform: translate(5%, -20%) scale(1.25);
  }
}
@-webkit-keyframes jump-0 {
  0%, 50%, 60% {
    transform: translate(0, 0) scale(1);
  }
  52% {
    transform: translate(calc(var(--x-1) * 1%), calc(var(--y-1) * 1%)) scale(var(--scale-1));
  }
  54% {
    transform: translate(calc(var(--x-2) * 1%), calc(var(--y-2) * 1%)) scale(var(--scale-2));
  }
}
@keyframes jump-0 {
  0%, 50%, 60% {
    transform: translate(0, 0) scale(1);
  }
  52% {
    transform: translate(calc(var(--x-1) * 1%), calc(var(--y-1) * 1%)) scale(var(--scale-1));
  }
  54% {
    transform: translate(calc(var(--x-2) * 1%), calc(var(--y-2) * 1%)) scale(var(--scale-2));
  }
}
@-webkit-keyframes glitch--1 {
  0%, 53%, 57%, 100% {
    transform: translate(0, 0);
  }
  55% {
    transform: translate(calc(var(--shift) * 1%), 0);
  }
}
@keyframes glitch--1 {
  0%, 53%, 57%, 100% {
    transform: translate(0, 0);
  }
  55% {
    transform: translate(calc(var(--shift) * 1%), 0);
  }
}
@-webkit-keyframes drop--1 {
  0%, 50%, 60%, 100% {
    transform: translate(0, 0);
  }
  54% {
    transform: translate(0, 25%);
  }
  58% {
    transform: translate(0, -50%);
  }
}
@keyframes drop--1 {
  0%, 50%, 60%, 100% {
    transform: translate(0, 0);
  }
  54% {
    transform: translate(0, 25%);
  }
  58% {
    transform: translate(0, -50%);
  }
}
@-webkit-keyframes glitch--3 {
  0% {
    --split: 20;
    --shift: 15;
    --shadow: -2;
  }
  5% {
    --split: 30;
    --shift: 15;
    --shadow: -2;
  }
  10% {
    --split: 80;
    --shift: 10;
    --shadow: -2;
  }
  15% {
    --split: 55;
    --shift: 10;
    --shadow: -2;
  }
  20%, 50% {
    --split: 0;
    --shift: 0;
    --shadow: 0;
  }
  100% {
    --split: 0;
    --shift: 0;
    --shadow: 0;
  }
}
@keyframes glitch--3 {
  0% {
    --split: 20;
    --shift: 15;
    --shadow: -2;
  }
  5% {
    --split: 30;
    --shift: 15;
    --shadow: -2;
  }
  10% {
    --split: 80;
    --shift: 10;
    --shadow: -2;
  }
  15% {
    --split: 55;
    --shift: 10;
    --shadow: -2;
  }
  20%, 50% {
    --split: 0;
    --shift: 0;
    --shadow: 0;
  }
  100% {
    --split: 0;
    --shift: 0;
    --shadow: 0;
  }
}
@-webkit-keyframes glitch--5 {
  0% {
    --spread: 3;
    --skew: 0;
  }
  5% {
    --spread: -1;
  }
  10% {
    --spread: -4;
    --skew: 5;
  }
  12% {
    --spread: 3;
    --skew: 3;
  }
  15% {
    --spread: 1;
  }
  18% {
    --spread: 4;
    --skew: -4;
  }
  25%, 100% {
    --skew: 0;
    --spread: 0;
  }
}
@keyframes glitch--5 {
  0% {
    --spread: 3;
    --skew: 0;
  }
  5% {
    --spread: -1;
  }
  10% {
    --spread: -4;
    --skew: 5;
  }
  12% {
    --spread: 3;
    --skew: 3;
  }
  15% {
    --spread: 1;
  }
  18% {
    --spread: 4;
    --skew: -4;
  }
  25%, 100% {
    --skew: 0;
    --spread: 0;
  }
}
@-webkit-keyframes flash-letter {
  0%, 25%, 100% {
    content: attr(data-char);
  }
  5% {
    content: var(--letter-1, attr(data-char));
  }
  10% {
    content: var(--letter-2, attr(data-char));
  }
  15% {
    content: var(--letter-3, attr(data-char));
  }
  20% {
    content: var(--letter-4, attr(data-char));
  }
}
@keyframes flash-letter {
  0%, 25%, 100% {
    content: attr(data-char);
  }
  5% {
    content: var(--letter-1, attr(data-char));
  }
  10% {
    content: var(--letter-2, attr(data-char));
  }
  15% {
    content: var(--letter-3, attr(data-char));
  }
  20% {
    content: var(--letter-4, attr(data-char));
  }
}
@-webkit-keyframes reveal {
  0% {
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
  }
  10% {
    clip-path: inset(70% 0 0 0);
    -webkit-clip-path: inset(70% 0 0 0);
  }
  20% {
    clip-path: inset(85% 0 0 0);
    -webkit-clip-path: inset(85% 0 0 0);
  }
  30% {
    clip-path: inset(5% 0 0 0);
    -webkit-clip-path: inset(5% 0 0 0);
  }
  40% {
    clip-path: inset(45% 0 0 0);
    -webkit-clip-path: inset(45% 0 0 0);
  }
  50%, 100% {
    clip-path: inset(100% 0 0 0);
    -webkit-clip-path: inset(100% 0 0 0);
  }
}
@keyframes reveal {
  0% {
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
  }
  10% {
    clip-path: inset(70% 0 0 0);
    -webkit-clip-path: inset(70% 0 0 0);
  }
  20% {
    clip-path: inset(85% 0 0 0);
    -webkit-clip-path: inset(85% 0 0 0);
  }
  30% {
    clip-path: inset(5% 0 0 0);
    -webkit-clip-path: inset(5% 0 0 0);
  }
  40% {
    clip-path: inset(45% 0 0 0);
    -webkit-clip-path: inset(45% 0 0 0);
  }
  50%, 100% {
    clip-path: inset(100% 0 0 0);
    -webkit-clip-path: inset(100% 0 0 0);
  }
}
@-webkit-keyframes hide {
  0% {
    clip-path: inset(0 0 100% 0);
    -webkit-clip-path: inset(0 0 100% 0);
  }
  10% {
    clip-path: inset(0 0 30% 0);
    -webkit-clip-path: inset(0 0 30% 0);
  }
  20% {
    clip-path: inset(0 0 15% 0);
    -webkit-clip-path: inset(0 0 15% 0);
  }
  30% {
    clip-path: inset(0 0 95% 0);
    -webkit-clip-path: inset(0 0 95% 0);
  }
  40% {
    clip-path: inset(0 0 55% 0);
    -webkit-clip-path: inset(0 0 55% 0);
  }
  50%, 100% {
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
  }
}
@keyframes hide {
  0% {
    clip-path: inset(0 0 100% 0);
    -webkit-clip-path: inset(0 0 100% 0);
  }
  10% {
    clip-path: inset(0 0 30% 0);
    -webkit-clip-path: inset(0 0 30% 0);
  }
  20% {
    clip-path: inset(0 0 15% 0);
    -webkit-clip-path: inset(0 0 15% 0);
  }
  30% {
    clip-path: inset(0 0 95% 0);
    -webkit-clip-path: inset(0 0 95% 0);
  }
  40% {
    clip-path: inset(0 0 55% 0);
    -webkit-clip-path: inset(0 0 55% 0);
  }
  50%, 100% {
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
  }
}
@-webkit-keyframes squash {
  0%, 48%, 52%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(var(--scale, 0));
  }
}
@keyframes squash {
  0%, 48%, 52%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(var(--scale, 0));
  }
}
@-webkit-keyframes flicker {
  0%, 20% {
    --opacity: 0.25;
  }
  10%, 30%, 40%, 70%, 80%, 90%, 100% {
    --opacity: 1;
  }
}
@keyframes flicker {
  0%, 20% {
    --opacity: 0.25;
  }
  10%, 30%, 40%, 70%, 80%, 90%, 100% {
    --opacity: 1;
  }
}
@-webkit-keyframes skew {
  0%, 40%, 48%, 100% {
    transform: skew(0deg);
  }
  44% {
    transform: skew(calc(var(--skew) * 1deg));
  }
}
@keyframes skew {
  0%, 40%, 48%, 100% {
    transform: skew(0deg);
  }
  44% {
    transform: skew(calc(var(--skew) * 1deg));
  }
}
@-webkit-keyframes scale {
  0%, 47%, 55%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(var(--scale));
  }
}
@keyframes scale {
  0%, 47%, 55%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(var(--scale));
  }
}
@-webkit-keyframes shrink {
  0%, 45%, 53%, 100% {
    text-transform: uppercase;
  }
  50% {
    text-transform: lowercase;
  }
}
@keyframes shrink {
  0%, 45%, 53%, 100% {
    text-transform: uppercase;
  }
  50% {
    text-transform: lowercase;
  }
}
@-webkit-keyframes shift {
  0%, 68%, 72%, 100% {
    transform: translate(0, 0);
  }
  70% {
    transform: translate(calc(var(--shift-x, 25) * 1%), calc(var(--shift-y, 0) * 1%));
  }
}
@keyframes shift {
  0%, 68%, 72%, 100% {
    transform: translate(0, 0);
  }
  70% {
    transform: translate(calc(var(--shift-x, 25) * 1%), calc(var(--shift-y, 0) * 1%));
  }
}

@keyframes marquee {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(-220%);
  }
}

.animate-marquee {
  animation: marquee 80s linear infinite;
}
